* {
  margin: 0;
  padding: 0;
}

.page-button {
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  border: #c4c4c4 1px solid;
  text-decoration: none;
  color: #000000;
}

.selected-page-button {
  background-color: #c4c4c4;
}

.header {
  height: 88px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: #000000 1px solid;
}
