.page-button {
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  border-width: 1px;
  border-color: #c4c4c4;
}

.selected-page-button {
  background-color: #c4c4c4;
}
